$baseHeight: 60px !default;

.content {
  height: $baseHeight;

  .display {
    float: left;
    width: 49%;
    border: 1px solid dimgray;
    min-height: $baseHeight;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .input {
    float: left;
    width: 49%;
    outline:none;
    border-left: none;
    border-right: 1px solid dimgray;
    border-top: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
    border-radius: 0%;
    min-height: $baseHeight;

    .textarea {
      outline:none;
      border: none;
      min-height: $baseHeight - 2px;
    }
  }
}